Babel==2.14.0
beautifulsoup4==4.12.3
folium==0.16.0
numpy==1.26.4
pandas==2.2.1
plotly==5.19.0
streamlit==1.32.2
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-embedcode==0.1.2
streamlit-extras==0.4.2
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.4
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
streamlit_folium==0.18.1
millify==0.1.1
